<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Fin sidebar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h1>Buscar:</h1>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis reprehenderit, aliquid repudiandae laboriosam possimus reiciendis minima explicabo quaerat dolor facilis. Ut iure sit soluta illo repudiandae optio accusantium. Quia, quam.
      </div>
    </div>
  </div>

</div>
